button {
    padding: 15px 70px;
    border: none;

    font-family: $mainFont;
    font-size: 14px;
    color: white;
}

.buttons {
    margin: 50px 0;

    display: flex;
    justify-content: space-between;

    & .reg-facebook {
        background-color: #255A9B;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0);

        &::before {
            content: '';
            display: block;
            position: absolute;
            background-image: url('./../img/facebook.svg');
            background-repeat: no-repeat;

            width: 25px;
            height: 25px;
            top: 11px;
            left: 15px;
        }

        &:hover {
            background-color: #3275c8;
            cursor: pointer;
        }

        &:focus {
            outline: none;
            background-color: #3275c8;
            border: 1px solid #2A4A5C;
        }
    }

    & .reg-linkedin {
        background-color: #0076B6;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0);

        &::before {
            content: '';
            display: block;
            position: absolute;
            background-image: url('./../img/linkedin.svg');
            background-repeat: no-repeat;

            width: 25px;
            height: 25px;
            top: 11px;
            left: 15px;
        }

        &:hover {
            background-color: #0095e6;
            cursor: pointer;
        }

        &:focus {
            outline: none;
            background-color: #0095e6;
            border: 1px solid #2A4A5C;
        }
    }
}